<StackLayout class="page">
  <TextField #search type="text" id="search" (textChange)="inputOnSearchbar($event, true)" (focus)="inputOnSearchbar($event, false)"
    (blur)="onBlur($event)" [placeholder]="label"></TextField>
  <ListView [items]="results">
    <ng-template let-result="item">
      <StackLayout orientation="horizontal" (touch)="selectSearchResult(result)">
        <Label verticalAlignment="center" text="{{ result.description || result.formatted_address }}"></Label>
      </StackLayout>
    </ng-template>
  </ListView>
</StackLayout>